h1 {
	display: block;
	width: 200px;
	font-weight: normal;
	text-align: center;
	margin: 20px auto;
	font-size: 21px;
}

.toolView {
	width: 1400px;
	margin: 20px;
}




.toolTable tr, th, td{
	padding: 10px;
	font-weight: normal;
	font-size: 12px;
}

.userToolBack{
	background-color: #DAEBF4;
}

.userToolBack2 {
	background-color: #FFFFE7;
}



